.heading{
  text-align: center;
  font-size: 50px;
  color: rgb(233, 83, 83);
  text-shadow: 5px 5px 10px grey;
}
.button1{
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  background-color: rgb(222, 134, 134);
  margin-left: 500px;
}
.button2{
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  background-color: rgb(222, 134, 134);
  margin-left: 100px;


}
.flex{
  display: flex;
  gap: 200px;
  justify-content: center;
  margin-top: 100px;
}
